In [1]:
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
#from scipy.stats import shapiro, kstest, poisson, chisquare, ttest_ind, levene, bartlett, sem, ppf
import scipy.stats as stats
from scipy.stats import shapiro, levene
from scipy.stats import ttest_ind
from scipy.stats import mannwhitneyu
from scipy.stats import chi2_contingency

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [3]:
df_conjunto = pd.read_csv("../../files/df_conjunto.csv", index_col=0)

Fase 3: Evaluación de Diferencias en Reservas de Vuelos por Nivel Educativo

Preparación de Datos: Filtra el conjunto de datos para incluir únicamente las
columnas relevantes: 'Flights Booked' y 'EducaEon'.

In [ ]:
#Filtramos el conjunto de datos para incluir solo las columnas que solicitan

df_filtrado = df_conjunto[['flights_booked', 'education']]
df_filtrado.head()

   flights_booked education
0               0  Bachelor
1               3  Bachelor
2               0  Bachelor
3               0  Bachelor
4               6  Bachelor

Agrupa los datos por nivel educativo y calcula estadísticas descriptivas básicas (como el promedio, la desviación estandar, los percentiles) del número de vuelos reservados para cada grupo.

In [ ]:
#Coloco describe al final para que aparezcan las caracteristicas descriptivas

df_filtrado.groupby('education')['flights_booked'].describe()

                         count      mean       std  min  25%  50%  75%   max
education
Bachelor              253752.0  4.091093  5.216995  0.0  0.0  1.0  8.0  21.0
College               102672.0  4.153012  5.242136  0.0  0.0  1.0  8.0  21.0
Doctor                 17856.0  4.146281  5.250093  0.0  0.0  1.0  8.0  21.0
High School or Below   19008.0  4.155777  5.234551  0.0  0.0  1.0  8.0  21.0
Master                 12336.0  4.184014  5.210294  0.0  0.0  1.0  8.0  21.0

Realiza una prueba A/B TesEng para determinar si existe una diferencia significaEva en el número de vuelos reservados entre los diferentes niveles educativos.

In [15]:
df_vuelos_por_educacion = df_filtrado.groupby('education')['flights_booked'].mean().reset_index()

df_vuelos_por_educacion.head()

              education  flights_booked
0              Bachelor        4.091093
1               College        4.153012
2                Doctor        4.146281
3  High School or Below        4.155777
4                Master        4.184014